# These all are example for dev contributors

PORT=4000
NODE_ENV=development

DATABASE_URL="postgresql://premily:premily_dev_password@localhost:5432/dbname"
JWT_SECRET="19c6d9f3c56567ef3dbd0993cca1a849fa63e7c35e1a900a99f5aa9e560f1d4b"

