# These all are example for dev contributors

PORT=4000
NODE_ENV=development

DATABASE_URL="postgresql://premily:premily_dev_password@localhost:5432/dbname"
JWT_SECRET="replace-with-a-long-32-char-random-string"

